@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
  
    position: relative;
  }
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  padding-top: 70px;
    background: #fff;
    
  }

  .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(135deg, #ff00cc, #3333ff);
    border-radius: 50%;
    filter: blur(80px);
    margin-top: 30px;
  }

  header {

   
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    padding:10px;
    text-align: center;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.2s ease;
   
  }

  header.scrolled {
    
  
    
    background-color: rgba(255, 255, 255, 0.7);
  }

  header a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    margin: 0 15px;
    font-weight: 600;
    
  
    
  }

  

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    padding: 0 15px 70px 15px;
  }
  .content p {
    width: 100%;
   text-align: center;
    max-width: 800px;
  }


  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
    padding: 0 50px;
  }

  .skill{
   padding:15px ;
    background-color:rgba(246, 246, 246, 0.4) ;
    border-radius: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);

  
  }

  .skillTitle {
    display: flex;
    align-items: center;
  }

  .skillTitle div:first-child {
    background-color: #f3d0fb;
    margin-right: 7px;
    padding: 12px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #ff00cc;

  }


.stack {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 30px;
    background: linear-gradient(150deg, #f3d0fb, #a4a4fc); /* Adjust gradient colors */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    display: flex;
    color: black;
   
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.left p {
    text-align: left;
    padding: 0 20px 0 0;
}
.left h2 {
    font-size: 2.1rem;
   
}
.right {
   width: 50%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5px;
}


.icon {
    padding:15px ;
    background-color:rgba(246, 246, 246, 0.4) ;
    border-radius: 8px;
}

.icon img {
    height: 40px;
    height: 2.5rem;
}


.projects {
    column-count: 3;
    column-gap: 15px;
    width: 100%;
    max-width: 95%;
    margin: 10px 0 50px;
}

.div{
    
    display: inline-block;
 width: 91%;
 margin-bottom: 15px;
 padding: 10px;
 border-radius: 15px;
 box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);

}

.div:hover {
  box-shadow: 0 0 10px #a4a4fc;

}

.div.highlight {
  box-shadow: 0 0 20px #a4a4fc;
}

 .div img {
   border-radius: 15px;
     width: 100%;
    height: auto;
    display: block;
    transition: 0.2s ease;
}



.projectInfo img {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.projectInfo div {
  display: flex;
  align-items: center;
}

.github {
  color: #fff;
  width: max-content;
  padding: 5px 12px;
  border-radius: 8px;
  background-color: #000;
  margin-top: 10px;
 
  opacity: 0.5;
  cursor: not-allowed;
}

a .github {
  opacity: 1;
  cursor: pointer;
}

.github img {
  width: 20px;
  height: 20px;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #7373fe;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #aaaad8;
}


.socials {
  
  padding: 15px 0 80px;
  display: flex;

}

.socials img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.or {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.or hr {
  margin: 0 10px;
  width: 120px;

  height:1px;
  opacity: 0.5;
  
}


  @media (max-width: 1000px) {
    .skills {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 40px;
    }
    .stack {
       max-width: 810px;
       
    }
    .div{
      width: 100%;
    }
    
.projects {
    column-count: 3;
}
  }

  
  @media (max-width: 550px) {
    .skills {
      grid-template-columns: repeat(1, 1fr);
      padding: 15px;
      .projects {
        column-count: 3;
    }


    }


   

   
  
  }

  @media (max-width: 650px) {
    .stack{
        max-width: 520px;
        flex-direction: column;
    }
    .right {
       width: 100%;
       
       
     }
     .projects {
        column-count: 2;
    }
    
     .left{
        width: 100%;
        margin-bottom: 20px;
     }
  }